.card {
  background-color: $primary-color;
  width: 340px;
  height: 340px;
  margin: 10px;

  position: relative;

  h1 {
    position: absolute;
    bottom: 0;
    color: #fff;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-left: 10px;
  }
}
