.card-group {
  background-color: #f6f6f6 !important;
  width: auto;
  height: auto !important;
  border-radius: 10px;
  margin: 40px 80px;
  padding: 40px 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
