.card-group {
    background-color: #F6F6F6 !important;
    width: auto; 
    height: auto !important;
    border-radius: 10px;
    margin:  40px 80px;
    padding:  40px 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}