.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;

  nav {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .custom-link {
      text-decoration: none;
      color: $primary-color;
    }
    .custom-link:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 376px) {
  
  .header {
    margin: 0 !important;
    padding: 15px;
    img {
      // background-color: blue;
      width: 35% !important;
    }
    nav {
      // background-color: yellow;
      width: 50% !important;
      font-size: 1rem;
    }
  }

}
