.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;

  nav {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .custom-link {
      text-decoration: none;
      color: $primary-color;
    }
    // .custom-link:hover {
    //   text-decoration: underline;
    // }
    // .custom-link:active {
    //   text-decoration: underline !important;
    // }
    a {
      color: inherit;
      text-decoration: inherit;
    }
    .active {
      // background-color: orange;
      text-decoration: underline;
    }
  }
}


