<<<<<<< HEAD
$primary-color: #ff6060;
$grey: #f6f6f6;

body {
  // background-color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: $primary-color;
  margin: 0;
}
=======
$primary-color: #FF6060;

body {
    // background-color: red;
    font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0em;
text-align: right;
color: $primary-color;
}  
>>>>>>> 46b668e417d3992850781c4e928e945dc3a7ab78
