body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #ff6060;
  margin: 0;
}

.about {
  position: relative;
}
.about .aboutBanner {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 30vh;
  margin: auto;
  border-radius: 20px;
  position: relative;
}
.about .aboutBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  left: 0;
  z-index: -1;
}
.about .zoneCollapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px 0px;
}
.pageError .codeError {
  font-size: 240px;
  padding: 100px 0px;
}
.pageError p {
  margin: 20px;
  padding: 30px 0px;
}
.pageError .link {
  margin: 10px;
  color: #ff6060;
}

@media (max-width: 376px) {
  .pageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0px;
  }
  .pageError .codeError {
    font-size: 124px;
    padding: 100px 0px;
  }
  .pageError p {
    margin: 20px;
    padding: 30px 0px;
    text-align: center;
  }
  .pageError .link {
    margin: 10px;
    color: #ff6060;
    text-align: center;
  }
}
.infosLogement {
  width: 100%;
}
.infosLogement .zone-1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.infosLogement .zone-1 .zoneUnGauche {
  width: auto;
  height: auto;
  text-align: left;
}
.infosLogement .zone-1 .zoneUnGauche .zoneTags {
  width: auto;
  height: 200px;
}
.infosLogement .zone-1 .zoneUnGauche .zoneTags .tag {
  width: auto;
  height: 100px;
}
.infosLogement .zone-1 .zoneUnDroite {
  width: 15%;
  height: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infosLogement .zone-1 .zoneUnDroite .profil {
  display: flex;
  width: auto;
  height: auto;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.infosLogement .zone-1 .zoneUnDroite .profil .name {
  width: auto;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  font-size: 1.2rem;
}
.infosLogement .zone-1 .zoneUnDroite .profil .photo {
  width: auto;
  display: flex;
}
.infosLogement .zone-1 .zoneUnDroite .profil .photo img {
  border-radius: 60%;
  width: 100%;
}
.infosLogement .zone-1 .zoneUnDroite .zoneStars {
  margin: 20px 0px;
}
.infosLogement .zone-1 .zoneUnDroite .zoneStars .stars {
  margin: 2px !important;
}
.infosLogement .zone-2 {
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  font-size: 1.2rem;
}

@media (max-width: 376px) {
  .infosLogement .zone-1 .zoneUnDroite {
    width: 100%;
    height: auto;
    margin-right: 0;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between;
  }
  .infosLogement .zone-1 .zoneUnDroite .profil {
    display: flex;
    width: 50%;
    height: 100px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }
  .infosLogement .zone-1 .zoneUnDroite .profil .name {
    width: auto;
    height: 50px !important;
    text-align: right;
    padding-right: 10px;
    font-size: 1rem;
    line-height: 20px;
  }
  .infosLogement .zone-1 .zoneUnDroite .profil .photo {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  .infosLogement .zone-1 .zoneUnDroite .profil .photo img {
    border-radius: 60%;
    width: 93%;
  }
  .infosLogement .zone-1 .zoneUnDroite .zoneStars {
    margin: 20px 0px;
  }
  .infosLogement .zone-1 .zoneUnDroite .zoneStars .stars {
    margin: 20px;
  }
  .infosLogement .zone-2 {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
}
.header nav {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header nav .custom-link {
  text-decoration: none;
  color: #ff6060;
}
.header nav .custom-link:hover {
  text-decoration: underline;
}

@media (max-width: 376px) {
  .header {
    margin: 0 !important;
    padding: 15px;
  }
  .header img {
    width: 35% !important;
  }
  .header nav {
    width: 50% !important;
    font-size: 1rem;
  }
}
.footer {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px !important;
  position: block !important;
}
.footer img {
  color: #fff;
}
.footer .copyright {
  color: #fff;
}

@media (max-width: 376px) {
  .footer {
    height: auto !important;
  }
  .footer .copyright {
    text-align: center;
  }
}
.banner {
  background-color: rgba(0, 0, 0, 0.5) !important;
  width: auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px !important;
  margin: 40px 80px;
  position: relative;
  background-color: #fff;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  left: 0;
  z-index: -1;
}
.banner h1 {
  color: #fff;
  margin: inherit;
  padding: inherit;
  position: absolute;
  z-index: 2;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 376px) {
  .banner {
    width: 90% !important;
    margin: 10px auto !important;
  }
  .banner h1 {
    width: 52%;
    font-size: 1.2rem !important;
    text-align: left;
    left: 10px;
  }
}
.card-group {
  background-color: #f6f6f6 !important;
  width: auto;
  height: auto !important;
  border-radius: 10px;
  margin: 40px 80px;
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 376px) {
  .card-group {
    margin: 10px 80px !important;
    padding: 10px 80px !important;
  }
}
.card {
  background-color: #ff6060;
  width: 340px;
  height: 340px;
  margin: 10px;
  position: relative;
}
.card h1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}

.collapse {
  width: 70%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
}
.collapse .collapseTitle {
  text-align: left;
  background-color: #ff6060;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.collapse .collapseTitle p {
  margin: 0;
  padding: 10px;
}
.collapse .collapseTitle img {
  padding: 10px;
}
.collapse .collapseText {
  text-align: left;
  background-color: #f6f6f6;
  padding: 20px;
}
.collapse .collapseText p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}
.collapse .collapseText p li {
  list-style-type: none;
}

.slideshow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.carousel {
  background-color: blue;
  width: 90%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 200px !important;
}
.carousel .carouselLeft {
  background-color: orange;
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel .carouselLeft img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.carousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  border-radius: 20px !important;
}
.carousel .numerotation {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 4;
  text-align: center;
  color: #fff;
}
.carousel .carouselRight {
  background-color: violet;
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel .carouselRight img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 376px) {
  .carouselLeft {
    background-color: orange;
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .carouselLeft img {
    width: 50px !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .carouselRight {
    background-color: violet;
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .carouselRight img {
    width: 50px !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
.listeTags {
  display: flex;
  justify-content: flex-start;
  padding-left: 0 !important;
}
.listeTags li {
  padding: 0px 20px;
  margin-right: 10px;
  list-style: none;
  background-color: #ff6060;
  color: #fff;
  border-radius: 50px;
  font-size: 1rem;
}

@media (max-width: 376px) {
  .listeTags {
    width: 100% !important;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0 !important;
  }
  .listeTags li {
    padding: 0px 10px;
    margin: 10px;
    list-style: none;
    background-color: #ff6060;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
  }
}
.infosLogement {
  width: 90%;
  margin: 20px;
}
.infosLogement .zone-1 .zoneUnGauche .titre {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}
.infosLogement .zone-1 .zoneUnGauche .localisation {
  margin: 0;
  padding-top: 20px;
}

@media (max-width: 376px) {
  .infosLogement {
    width: 90%;
    margin: 20px;
  }
  .infosLogement .zone-1 {
    display: flex;
    flex-direction: column;
  }
  .infosLogement .zone-1 .zoneUnGauche .titre {
    font-size: 1.5rem !important;
    font-weight: 500;
    margin: 0;
  }
  .infosLogement .zone-1 .zoneUnGauche .localisation {
    margin: 0;
    padding: 0;
    font-size: 1rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
